#body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.parent__1{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.child__1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
}
.child__1 img,
.child__2 img {
  width: 100%;
  height: fit-content;
}
.pirce__text{
    color: #7b7777;  
}
h4{
    font-weight: lighter;
}
.Availability{
    color: #388e42;
}
.parent__2{
    width: 45%;
}


.child__2{
    display: flex;
    padding: 15px;
}
.star{
    display: flex;
    align-items: center;
}
#quantity{
    width: 99px;
    height: 41px;
    outline: none;
    cursor: text;
}
.price{
    width: 80%;
}
.counter:active{
    border: none;
    color: rgb(255, 255, 255);
}
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance:none;
margin: 0;
}
.butnnn{
    width: 210px;
    height: 47px;
    background: #222222;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.butnnn2{
    background-color: #e5e5e5;
    width: 330px;
    height: 46px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #e5e5e5;
}
.butnnn2:hover{
    transition: calc(0.4s);
    color: #ffffff;
    background: #000000;
}
.wishlist{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color:#ffffff ;
    gap: 8px;
}
.wisher{
    display: flex;
}
.whishspan{
    color: #dddcdc;
}
.security{
    display: flex;
    justify-content: space-evenly;
    background: #f5f5f5;
    padding: 17px;
    
}
.trust_badge {
    display: flex;
    max-width: 599px;
    flex-direction: column;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    text-align: center;
    line-height: 175%;
    padding: 10px 20px;
    border:  1px solid #e5e5e5;
    overflow: hidden;
    border-radius: 7px;
  }
  .Guaranteed {
    font-family: Jost, sans-serif;
    align-self: center;
    text-align: center;
    position: relative;
    top: 30px
   
  }
  .img {
    aspect-ratio: 11.11;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 24px;
  }
  .product_meta{
    margin-bottom: 1.681rem;
    margin-top: 1.681rem;
}
.posted_in{
    color: #777777;
}
  