* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  list-style: none;
}
li {
  list-style: none;
  text-decoration: none;
}
/* top navbar styling starts from here  */
.pls-dropdown li a {
  color: white;
}
.main-logo img {
  width: 170px;
}
.row {
  background-color: #222222;
  height: 43px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher {
  display: inline-block;
  position: relative;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: black;
}

.sub-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.has-dropdown:hover .sub-dropdown {
  display: block;
}
.row_left-side {
  display: flex;
  margin-left: 20px;
  gap: 20px;
  font-size: 15px;
}
.menu li {
  padding-right: 23px;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.menu {
  display: flex;
}

.location-icon-text,
.search-icon-text {
  text-decoration: none;
  color: #333;
}

.-icon-text {
  margin-left: 5px;
}
.location-search {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.header_col {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.customer-signinup,
.header-wishlist a,
.header-cart a {
  text-decoration: none;
  color: #000;
}

.wishlist-icon,
.cart-icon {
  display: inline-block;
  margin-right: 5px;
}
/* 2nd navbar styling starts from here on  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  height: 90px;
  border-bottom: 1px solid rgb(185 172 172);
}

.search-box {
  border: 1px solid #ccc;
  padding: 15px 15px;
  display: flex;
  max-width: 435px;
  width: 100%;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-box button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-search {
  font-size: 16px;
  color: #333;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.user-controls {
  display: flex;
  align-items: center;
}

.icon-link {
  text-decoration: none;
}

.icon {
  margin-left: 20px;
}
/* navigation bar styling starts from here on  */

.navbar2 {
  background-color: white;
  padding: 0px 20px;
  border-bottom: 1px solid #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropbtn {
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background: none;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 15px 37.2px;
}

.dropbtn .fas {
  margin-left: 5px;
}
.categories-menu-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #bdbcc1;

  font-size: 15px;

  border-top: 1px solid #d1adad;
  font-weight: 600;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #d1a5a5;
  border-top: none;
  font-size: 15px;
}
.dropbtn .fas {
  margin-left: 5px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.categories-menu-wrapper:hover .dropdown-content {
  display: block;
}

.categories-menu-wrapper:hover .dropbtn {
  background-color: black;
  color: white;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar__links ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
}
.navbar__links ul li {
  text-transform: uppercase;

  cursor: pointer;
  position: relative;
}
.navbar__links ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: black;
}
.navbar__links ul li::after {
  content: "";
  height: 3px;
  width: fit-content;
  background: black;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: 4s;
}
.navbar__links ul li:hover:after {
  width: 100%;
}
.store-location {
  display: flex;
  flex-direction: row;
  gap: 19.6px;
  font-size: var(--font-size-base);
}

.location-icons,
.location-icons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.location-icons {
  gap: 11.9px;
}

.location-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.4px 0 0;
}

.icon15,
.icon16 {
  height: 38.5px;
  width: 22px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.store-label {
  line-height: 28px;
  display: inline-block;
  min-width: 118.3px;
}

.find-store-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* <!-- cart section  --> */
.breadcrumbs {
  font-size: 16px;
  margin-left: 10px;
}

.cart-title {
  text-align: center;
  color: #333;
  font-size: 46px;
  font-weight: 400;
  padding: 40px 0px;
}
.a-tag {
  color: black;
}
.cart-alert {
  padding: 20px;
  margin-top: 20px;
  background-color: #f7f6f7;
  border-top: 3px solid #007bff;
  color: #666;
  display: flex;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}
/* .cart-container {
  height: 50vh;
} */

.cart-alert span {
  margin-left: 5px;
}
.fas {
  margin: 0 5px;
  color: black;
}

.fas {
  font-size: 12px;
}
/* return to shop button  */
.return-to-shop {
  margin: 20px 15px;
}

.button.wc-backward {
  display: inline-block;
  padding: 10px 25px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* Subscribe Newsletter styling */

.background {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 100px;
}

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.heading-wrapper h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.heading-wrapper p {
  margin-top: 10px;
  color: #666;
  font-size: 16px;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email-input {
  flex-grow: 1;
  height: 46px;
  border: 2px solid #000;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 10px;
}

.subscribe-button {
  cursor: pointer;
  border: none;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.subscribe-button:hover {
  background-color: #bbb;
}

/* footer styling */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.footer__menus {
  display: flex;
  font-size: 16px;
  text-transform: capitalize;
  color: #555555;
}

footer span {
  font-weight: 500;
  color: #222222;
  font-size: 18px;
  padding: 0 16px 0 0;
}

.footer__search {
  display: flex;
  gap: 25px;
}

.widget-image img {
  vertical-align: middle;
  display: inline-block;
  width: 189px;
  height: 22px;
}

.footer-list li a {
  color: #555555;
  font-size: 16px;
  text-transform: capitalize;
}

.follow-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: #000;
}
.footer-follow-us {
  display: flex;
  flex-direction: row;
}
.footer-follow-us {
  display: flex;
  flex-direction: column;
}
.footer-img {
  text-align: center;
}
.toggle-nav-button {
  /* color: #fff; */
  font-size: 22px;
  cursor: pointer;
  display: none;
}
/* small screen footer  */
.footer {
  display: none;
}

/* responsive    */
@media (max-width: 1023px) {
  .top-header-container,
  .search-box,
  .user-icon,
  .heart-icon,
  .navbar2 {
    display: none;
  }
  .toggle-nav-button {
    display: block;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .follow-list {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  footer {
    display: none;
  }
  .footer-img {
    display: none;
  }
  .subscribe-button {
    padding: 16px 30px;
  }
  .form-container {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: block;

    padding: 20px 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .footer-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-list__title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .footer-list li a {
      /* color: white; */
      text-decoration: none;
      padding: 5px 0;
      display: block;
    }

    .social-icon {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .footer-list--social {
    display: inline;
  }
}
