* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.has-dropdown a {
  text-decoration: none;
  list-style: none;
  color: white;
}
a {
  text-decoration: none;
  list-style: none;
}
li {
  list-style: none;
  text-decoration: none;
}
/* top navbar styling starts from here  */
/* top navbar styling starts from here  */
/* top navbar styling starts from here  */

.row {
  background-color: #222222;
  height: 43px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher {
  display: inline-block;
  position: relative;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: black;
}

.sub-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.has-dropdown:hover .sub-dropdown {
  display: block;
}
.row_left-side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
}
.menu li {
  padding-right: 23px;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.menu {
  display: flex;
}

.location-icon-text,
.search-icon-text {
  text-decoration: none;
  color: #333;
}

.-icon-text {
  margin-left: 5px;
}
.location-search {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.header_col {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.customer-signinup,
.header-wishlist a,
.header-cart a {
  text-decoration: none;
  color: #000;
}

.wishlist-icon,
.cart-icon {
  display: inline-block;
  margin-right: 5px;
}

/* 2nd  navbar styling */
/* 2nd navbar styling */
/*2nd  navbar styling */

.main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: aliceblue;
}
.nav__container {
  display: flex;
  justify-content: center;
  padding: 21px 25px;
}
.navbar__links ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  gap: 40px;
  flex-wrap: wrap;
}
.navbar__links ul li {
  text-transform: uppercase;

  cursor: pointer;
  position: relative;
}
.navbar__links ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: black;
}
.navbar__links ul li::after {
  content: "";
  height: 3px;
  width: fit-content;
  background: black;
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: 4s;
}
.navbar__links ul li:hover:after {
  width: 100%;
}
.toggle-nav-button {
  /* color: #fff; */
  font-size: 22px;
  cursor: pointer;
  display: none;
}
/* dropdown menu  */
.dropdown-menu {
  display: none;
  width: 100%;
  background: rgb(0 0 0 / 10%);
  backdrop-filter: blur(15px);
  overflow: hidden;
}
.dropdown-menu li {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu.open {
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  display: none;
}

.dropdown-menu li a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
/* hero sections styling */ /* hero sections styling */ /* hero sections styling */
.hero__heading {
  font-size: 46px;
  font-weight: 400;
  color: #333333;
}
.set {
  font-size: 21px;
  color: #555555;
}
.hero__right {
  width: 48%;
}
.hero__left {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  background-color: #f8e4e4;
  padding: 130px 80px;
}
.hero__para {
  font-size: 33px;
  color: #333333;
  font-weight: 200;
}
.hero__left button {
  border: 2px solid black;
  padding: 10px 20px;
  width: max-content;
  margin-top: 30px;
  cursor: pointer;
}
.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__right img {
  width: 100%;
  height: 100%;
}
.hero__left button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000;
}
/* photos  */
.photos__container {
  display: grid;
  grid-template-columns: repeat(6, 194px);
  grid-template-rows: 194px;
  justify-content: space-around;
  cursor: pointer;
}
.photo1 {
  background-image: url(../images/Cross-of-Light-Pendant-1-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo2 {
  background-image: url(../images/Rings-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo3 {
  background-image: url(../images/Rose-Gold-Bracelet-1-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo4 {
  background-image: url(../images/Sterling-Silver-Dangles-Earrings-1-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo5 {
  background-image: url(../images/Charm-Dangles-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo6 {
  background-image: url(../images/Gift-360x360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.photos-heading {
  font-size: 38px;
  text-align: center;
  padding: 40px;
  font-weight: 400;
}
.names {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  margin-left: 8px;
  cursor: pointer;
}
/* ////////////////////////////////////////////// */
.elementor-widget-container {
  padding: 20px;
}

.pls-call-to-action {
  padding: 24px 2px;
  background-color: #e1f2fc;

  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pls-cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pls-button {
  margin-left: 30px;
}

.pls-cta-title {
  font-size: 26px;
  font-weight: 300;
}

.pls-cta-icon {
  margin-right: 10px;
}

.pls-cta-btn .button {
  text-decoration: none;
  color: #000;
  padding: 5px 26px;
  border: 2px dashed black;
}
/* features  */

.features__content,
.about__us--content {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature__heading {
  display: flex;
  justify-content: center;
}
.features__content h2,
.about__us--content h2 {
  font-size: 39px;
  font-weight: 200;
  position: relative;
  z-index: 1;
}

.features__content h2::after {
  content: "";
  width: 103px;
  height: 3px;
  background: #e5e5e5;
  position: absolute;
  bottom: 20px;
  right: -120px;
}
.features__content h2::before {
  content: "";
  width: 103px;
  height: 3px;
  background: #e5e5e5;
  position: absolute;
  bottom: 25px;
  left: -120px;
}

.features__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}
.features__links ul li {
  text-transform: uppercase;
  padding: 0 14px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  line-height: 37px;
  display: inline-block;
  min-width: 76px;
}

.features__links ul li a {
  text-decoration: none;
  color: black;
}
.features__links ul li::after {
  content: "";
  height: 3px;
  width: fit-content;
  background: black;
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: 4s;
}
.features__links ul li:hover:after {
  width: 100%;
}
/* /////////////////////////////////////// */
/* Main Container */
.frame-parent7,
.frame-parent01 {
  display: grid;
  grid-template-columns: repeat(4, minmax(247px, 1fr));
  box-sizing: border-box;
  gap: 15px;
  font-size: 11.4px;
  align-items: center;
  margin-bottom: 60px;
}
.frame-parent01 {
  padding: 0 20px;
}

.circle-image {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  width: 325px;
  height: 325px;
}

/* Badge Styles */
.background5,
.background6,
.background8 {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px 5px;
  color: white;
  background-color: #ffa965;
}
.background5 {
  background: #ff554e;
}
.background8 {
  background: #a9a9a9;
}

.off,
.off3,
.off1 {
  position: relative;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: fit-content;
}

.background6 .hot {
  background-color: #e74c3c;
}
.frame-parent8 {
  align-self: stretch;
  align-items: flex-end;
  gap: 5px;
  text-align: center;
  font-size: 12px;
  color: rgb(119, 119, 119);
}
.link-earnings-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.link-earnings {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 61px;
}
.heading-3-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  font-size: 18px;
  color: rgb(34, 34, 34);
}

.heading-34 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  font-size: 17px;
  font-weight: normal;
  margin-bottom: 2px;
}
.link-circle {
  position: relative;
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
}
.frame-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
  font-size: 16.5px;
}
.container-parent {
  position: relative;
  cursor: pointer;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  flex-shrink: 0;
}
.div1 {
  line-height: 27px;
  font-weight: 500;
  min-width: 63px;
  font-size: 16px;
  font-weight: 500;
}
.div1,
.div2 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.data-table {
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2px;
  font-size: 15px;
}
.data-table,
.del {
  display: flex;
  align-items: flex-start;
}
.del {
  height: 23.2px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  opacity: 0.5;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}
.div2 {
  text-decoration: line-through;
  line-height: 24px;
  min-width: 53px;
}
/* banner styling */
/* banner styling */

/* banner styling */

.layout-network-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0px 20px 79px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 39px;
  color: white;
}
.layout-network {
  width: 1411.9px;
  justify-content: flex-start;
  position: relative;
}
.layout-network,
.layout-network-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
}
.home-megashop-banner-1jpg-icon {
  height: 463.7px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.product-details {
  width: 313.8px;
  margin: 0 !important;
  position: absolute;
  top: 106.9px;
  left: 171.9px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.2px;
}

.ready-set {
  position: relative;
  line-height: 44px;
  z-index: 1;
}

.summer {
  position: relative;
  line-height: 44px;
  z-index: 1;
}

.product-name {
  align-self: stretch;
  position: relative;
  font-size: 22px;
  line-height: 29.6px;
  font-weight: 300;
  z-index: 1;
}
.offer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl) var(--padding-7xs-4);
  font-size: 37.2px;
}
.buy-1-get {
  position: relative;
  line-height: 66px;
  font-weight: 200;
  z-index: 1;
}
.shop-now-button {
  display: inline-block;
  min-width: 77px;
  padding: 7px 30px 7px 30px;
}

.shop-now-text {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  padding: 7px 30px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.neckles-heading {
  font-size: 39px;
  line-height: 1.2;
  font-size: 39px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

.heading__parent {
  display: flex;
  flex-direction: column;

  gap: 14px;
  align-items: center;
}
.heading__parent ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}
.heading__parent ul li {
  text-transform: capitalize;
  font-size: 15px;
  padding: 0 14px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  line-height: 37px;
  display: inline-block;
  min-width: 76px;
}

.heading__parent ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.heading__parent ul li::before {
  content: "";
  position: absolute;
  left: 0;
  border-bottom: 2px solid;
  bottom: 0;
  width: 100%;
}

.container10 {
  flex: 0.7889;
  overflow: hidden;
  justify-content: flex-end;

  padding: 287px 20px 51px 50px;

  box-sizing: border-box;
  position: relative;
  gap: 18px;
  min-width: 304px;
  max-width: 100%;
  font-size: 27px;
}
.home-megashop-banner {
  width: 100%;
  height: auto;
  position: absolute;
  margin: 0 !important;
  top: 15px;

  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text-container {
  position: relative;
  line-height: 32.25px;
  z-index: 1;
  color: white;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.new-earrings {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}
.arrival {
  text-transform: capitalize;
}
.pls-button a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.pls-button .button {
  box-shadow: none;
  position: relative;
  font-size: 16px;
}
.button,
.btn {
  cursor: pointer;

  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.read-more-link .read-more-btn .more-link:before,
.read-more-link .read-more-btn .more-link:after,
.pls-button a.btn-style-link:before,
.pls-button a.btn-style-link:after,
.pls-product-categories-thumbnails .category-title span:before,
.pls-product-categories-thumbnails .category-title span:after {
  content: "";
  position: absolute;
  left: 0;
  border-bottom: 2px solid;
  bottom: -3px;
  width: 100%;
}
.toggle-button {
  display: none;
}

.parallel-flow {
  padding: 34px 0 15px 0;
  text-align: center;
}

.heading-25 {
  font-size: 28px;
}

.sorting-flow {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

.pattern-flow,
.section-parent {
  box-sizing: border-box;
}

.pattern-flow {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0px;
}

.section-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: revert-layer;
  align-items: center;
}

.section-group {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 50px;
  gap: 50px;
  text-align: left;
}
.performance-tracker {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: centers;
}

.section2 {
  flex-direction: column;
  padding: 113px 0px 92px 55px;
  box-sizing: border-box;
  gap: 21.5px;
  background-image: url(../images/section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.input,
.section2,
.workflow-controller {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.section2,
.workflow-controller {
  max-width: 100%;
}

.sign-up-to {
  position: relative;
  line-height: 29px;
  margin-top: 17px;
}
.workflow-controller {
  width: 516.8px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9.4px;
  font-size: 16.5px;
}

.container19 {
  width: 359px;
  border: 0;
  outline: 0;
  background-color: white;
  flex: 1;
  font-size: 15px;
  padding: 16px 20px;
}
.input {
  cursor: pointer;
  border: none;
  padding: 16.3px 30px;
  background-color: black;
  box-sizing: border-box;
}
.subscribe {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
.end-of-summer-container {
  font-size: 30px;
}
.data-aggregator3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 61px 0px 30px 0px;
  box-sizing: border-box;
}

.data-aggregator3,
.input-filter {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.input-filter {
  width: 374px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.heading-26 {
  position: relative;
  line-height: 48px;
  align-items: center;
  flex-shrink: 0;
  font-size: 38px;
  font-weight: 400;
}
.late-trends-and {
  font-size: 18px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}

.container20 {
  align-self: stretch;
  overflow: hidden;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 15.5px;
  box-sizing: border-box;
  gap: 31px;
  grid-template-columns: repeat(3, minmax(235px, 1fr));
  text-align: left;
}

.container20,
.error-collector-chain,
.group-3-4 {
  justify-content: flex-start;
  max-width: 100%;
}
.group-2-4,
.group-1-4 {
  height: 416.2px;
  box-sizing: border-box;
  /* gap: 0 0 15px 25px; */

  max-width: 100%;
}
.group-1-4,
.oneself-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-transformer {
  align-self: stretch;
  /* flex: 1; */
  /* padding: 20px 20px 20px; */

  position: relative;
}

.image-transformer,
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-christmas-gift-guidejp {
  width: 100%;

  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.link2 {
  background-color: #222;
  padding: 3px 8px 4px 8px;
  z-index: 1;
  top: 17px;
  position: absolute;
  left: 18px;
}

.accessories {
  position: relative;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  color: white;
  font-size: 12.4px;
}
.value-ranker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-sorter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6.5px;
  font-size: 13px;
}
.link-alukas {
  line-height: 24px;
  font-weight: 500;

  min-width: 50.3px;
}

.b,
.link-alukas {
  text-transform: uppercase;
  display: inline-block;
}
.sequence-assembler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.b {
  line-height: 14px;
  min-width: 3.4px;
  position: relative;
  bottom: 5px;
}

.link-february {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 122.4px;

  color: #777777;
}
.heading-27 {
  position: relative;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
}
.group-1-4,
.oneself-parent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 15px;
}
.horizontal-divider16 {
  align-self: stretch;
  height: 2.1px;
  position: relative;
  border-bottom: 2.1px solid #222;
  box-sizing: border-box;
  bottom: 15px;
}
.continue-reading,
.oneself {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 69.2px;
}
.oneself {
  color: gray;
}
.continue-reading {
  line-height: 22px;
  min-width: 126.1px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  color: #222;
}

.horizontal-divider16 {
  align-self: stretch;
  height: 2.1px;
  position: relative;
  border-bottom: 2.1px solid black;
  box-sizing: border-box;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.b,
.link-alukas {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.grids-insta-content {
  margin: 50px;
  text-align: center;
}
.grids-insta-content h2 {
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 5px;
  display: block;
  line-height: 1.2;
  font-weight: 400;
}

.grids-insta-content p {
  line-height: 1.9;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: #777777;
}
.instagram-section {
  background-color: #f6eceb;
  padding: 15px 15px 50px 20px;
}
.images-insta-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 202px;
  background-color: #f442;
  gap: 20px;
}

.insta-img-1 {
  background-image: url(../images/Instagram-Image-1.jpg);
  transition: background-size 1s ease-in-out;
}
.insta-img-1:hover {
  /* Adjust to desired zoom level */
}
.insta-img-2 {
  background-image: url(../images/Instagram-Image-2.jpg);
}
.insta-img-3 {
  background-image: url(../images/Instagram-Image-3.jpg);
}
.insta-img-4 {
  background-image: url(../images/Instagram-Image-4.jpg);
}
.insta-img-5 {
  background-image: url(../images/Instagram-Image-5.jpg);
}
.insta-img-6 {
  background-image: url(../images/Instagram-Image-6.jpg);
}
.insta {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s ease;
}
.insta:hover {
  background-size: 120%;
}
.frame-parent-container {
  flex: 1;
  border-bottom: 1px solid #e5e5e5;
  overflow-x: auto;
  justify-content: space-between;
  padding: 47.5px 73px 57px 45.6px;
}

.section4 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 47.8px;
  text-align: center;
  font-size: 18px;
  color: #222;
}
.frame-parent-container,
.section4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent24,
.frame-parent25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  text-transform: capitalize;
}
.frame-parent24 {
  gap: 8.2px;
}
.free-shippingsvg-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 65px 0 63.9px;
}
.free-shippingsvg-icon {
  height: 31px;
  width: 39.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-4-free-shipping-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 28.9px 0 30px;
}
.heading-4 {
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  min-width: 110px;
}
.for-all-orders {
  position: relative;
  font-size: 15px;
  line-height: 28px;
  color: #888888;
  margin-top: -1.1px;
}
/* footer   */
/* footer   */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 20px;
}

.footer__menus {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  text-transform: capitalize;
  color: #555555;
}

footer span {
  font-weight: 500;
  color: #222222;
  font-size: 18px;
  padding: 0 16px 0 0;
}
.email-input {
  border: 2px solid black;
  padding: 6px 15px;
}
.sub-input {
  padding: 16px 28px;
  background: #222222;
}
.container-sub {
  width: 371px;
  padding: 8px 16px;
}
.input-controller {
  display: flex;
  gap: 9.4px;
  font-size: 16.5px;
  width: 100%;
}
.footer__search {
  display: flex;
  gap: 25px;
}

.widget-image img {
  vertical-align: middle;
  display: inline-block;
  width: 189px;
  height: 22px;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon-list li {
  display: inline;
  margin-right: 10px;
}

.icon-list li a {
  text-decoration: none;
  color: #000;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-list li a {
  color: #555555;
  font-size: 16px;
  text-transform: capitalize;
}
